__pycache__/
*.py[cod]
.DS_Store

.idea/
.vscode/

*.sqlite3
db.sqlite3

*/migrations/

venv/
env/
.env
*.env

*.log
*.pot
*.swp
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.tox/
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
